{% extends "network/layout.html" %}

{% block body %}
<div class="container text-center" style="color: white;">
    <h1>{{user.username}}</h1>
    {%if user != request.user%}
    {%if request.user not in user.followers.all %}
    <button id="follow" class="btn btn-primary" data-id={{user.id}}>follow</button>
    {%else%}
    <button id="unfollow" class="btn btn-primary" data-id={{user.id}}>unfollow</button>
    {%endif%}
    {%endif%}
    <br><br>
    <h6>followers</h6>
    
</div>
<div style="display: flex; flex-direction: column;gap: 10px;background-color: rgb(71, 70, 70);border-radius: 5px;color: white;min-height: 90vh;" class="container text-start">
    {% for post in posts %}
 <div>{{i.content}}</div>
 <br>
    <div style="background-color: black; display: flex;flex-direction: column;border-radius: 5px;height: 30vh;color: white;" class="container text-start">
        
        <span>Likes:</span>
        <div style="background-color: black;height: 25vh; display: flex;flex-direction: column; gap: 5px;"> 
            <div data-likes={{post.liked_by.all|length}}>{{post.liked_by.all|length}}</div>
            <div class="content-div" style="height: 10vh; width: 100%;background-color: rgb(71, 70, 70);">{{post.content}}</div>
            
            
        </div>
    </div>
 {%endfor%}
 <div style="display: flex;align-items: center;justify-content: center;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          {%for i in p.page_range %}
          <li class="page-item"><a class="page-link" href="{%url 'profile' id=user.id pg=i%}">{{i}}</a></li>
          
          {%endfor%}
        </ul>
      </nav>
</div>
</div>


 <script>
    let follow_button=document.querySelector('#follow')
    let unfollow_button=document.querySelector('#unfollow')
    if(follow_button){
        follow_button.addEventListener('click',()=>{
        fetch('http://127.0.0.1:8000/follow/'+follow_button.dataset.id)
        location.reload()
        

    })
    }
    else if(unfollow_button){
        unfollow_button.addEventListener('click',()=>{
        fetch('http://127.0.0.1:8000/unfollow/'+unfollow_button.dataset.id)
        location.reload()

    })
    }
 </script>
{% endblock %}